/* ============================================= */
/*              Background Classes               */
/* ============================================= */

.bg-primary-light {
    background-color: $clr-primary-light;
}
.bg-primary-dark {
    background-color: $clr-primary-dark;
}
.bg-secondary-light {
    background-color: $clr-secondary-light;
}
.bg-secondary-dark {
    background-color: $clr-secondary-dark;
}
.bg-accent-dark {
    background-color: $clr-accent-dark;
}
.bg-accent-light {
    background-color: $clr-accent-light;
}
.bg-cta {
    background-color: $clr-cta;
}