
/* ============================================= */
/*                  Columns                      */
/* ============================================= */

.even-columns {
    display: grid;
    gap: $size-600;

    @include mq('md') {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: $size-700;
    }

    @include mq('xl') {
        gap: $size-900;
    }
}

.justify-self-end {
    justify-self: end;

    @include mq('sm') {
        &-sm {
            justify-self: end;
        }
    }
    
    @include mq('md') {
        &-md {
            justify-self: end;
        }
    }

    @include mq('lg') {
        &-lg {
            justify-self: end;
        }
    }

    @include mq('xl') {
        &-xl {
            justify-self: end;
        }
    }
}

.vertical-align-center {
    align-items: center;

    @include mq('sm') {
        &-sm {
            align-items: center;
        }
    }

    @include mq('md') {
        &-md {
            align-items: center;
        }
    }

    @include mq('lg') {
        &-lg {
            align-items: center;
        }
    }

    @include mq('xl') {
        &-xl {
            align-items: center;
        }
    }
}

.inverse-order {
    order: -1;

    @include mq('md') {
        order: 0;
    }
}