
/* ============================================= */
/*                  Containers                   */
/* ============================================= */

.container {
    $max-width: 87.5rem; // 1400px
    $horizontal-padding: 1rem;

    width: min($max-width, 100% - ($horizontal-padding * 2));
    margin-inline: auto;
}

.heading-container {
    max-width: 46.875rem;
    margin-inline: auto;
}