
/* ============================================= */
/*                  Display                      */
/* ============================================= */

.d-none {
    display: none;

    @include mq('sm') {
        &-sm {
            display: none;
        }
    }
    @include mq('md') {
        &-md {
            display: none;
        }
    }
    @include mq('lg') {
        &-lg {
            display: none;
        }
    }
    @include mq('xl') {
        &-xl {
            display: none;
        }
    }
}
.d-block {
    display: block;

    @include mq('sm') {
        &-sm {
            display: block;
        }
    }
    @include mq('md') {
        &-md {
            display: block;
        }
    }
    @include mq('lg') {
        &-lg {
            display: block;
        }
    }
    @include mq('xl') {
        &-xl {
            display: block;
        }
    }
}