
/* ============================================= */
/*                  Spacing                      */
/* ============================================= */

// Margin
.margin-block-100 {
    margin-block: $size-100;
}
.margin-block-200 {
    margin-block: $size-200;
}
.margin-block-300 {
    margin-block: $size-300;
}
.margin-block-400 {
    margin-block: $size-400;
}
.margin-block-500 {
    margin-block: $size-500;
}
.margin-block-600 {
    margin-block: $size-600;
}
.margin-block-700 {
    margin-block: $size-700;
}
.margin-block-800 {
    margin-block: $size-800;
}
.margin-block-900 {
    margin-block: $size-900;
}

.margin-top-100 {
    margin-top: $size-100;
}
.margin-top-200 {
    margin-top: $size-200;
}
.margin-top-300 {
    margin-top: $size-300;
}
.margin-top-400 {
    margin-top: $size-400;
}
.margin-top-500 {
    margin-top: $size-500;
}
.margin-top-600 {
    margin-top: $size-600;
}
.margin-top-700 {
    margin-top: $size-700;
}
.margin-top-800 {
    margin-top: $size-800;
}
.margin-top-900 {
    margin-top: $size-900;
}

.margin-right-100 {
    margin-right: $size-100;
}
.margin-right-200 {
    margin-right: $size-200;
}
.margin-right-300 {
    margin-right: $size-300;
}
.margin-right-400 {
    margin-right: $size-400;
}
.margin-right-500 {
    margin-right: $size-500;
}
.margin-right-600 {
    margin-right: $size-600;
}
.margin-right-700 {
    margin-right: $size-700;
}
.margin-right-800 {
    margin-right: $size-800;
}
.margin-right-900 {
    margin-right: $size-900;
}

.margin-bottom-100 {
    margin-bottom: $size-100;
}
.margin-bottom-200 {
    margin-bottom: $size-200;
}
.margin-bottom-300 {
    margin-bottom: $size-300;
}
.margin-bottom-400 {
    margin-bottom: $size-400;
}
.margin-bottom-500 {
    margin-bottom: $size-500;
}
.margin-bottom-600 {
    margin-bottom: $size-600;
}
.margin-bottom-700 {
    margin-bottom: $size-700;
}
.margin-bottom-800 {
    margin-bottom: $size-800;
}
.margin-bottom-900 {
    margin-bottom: $size-900;
}

.margin-left-100 {
    margin-right: $size-100;
}
.margin-left-200 {
    margin-left: $size-200;
}
.margin-left-300 {
    margin-left: $size-300;
}
.margin-left-400 {
    margin-left: $size-400;
}
.margin-left-500 {
    margin-left: $size-500;
}
.margin-left-600 {
    margin-left: $size-600;
}
.margin-left-700 {
    margin-left: $size-700;
}
.margin-left-800 {
    margin-left: $size-800;
}
.margin-left-900 {
    margin-left: $size-900;
}

// Padding
.padding-block-100 {
    padding-block: $size-100;
}
.padding-block-200 {
    padding-block: $size-200;
}
.padding-block-300 {
    padding-block: $size-300;
}
.padding-block-400 {
    padding-block: $size-400;
}
.padding-block-500 {
    padding-block: $size-500;
}
.padding-block-600 {
    padding-block: $size-600;
}
.padding-block-700 {
    padding-block: $size-700;
}
.padding-block-800 {
    padding-block: $size-800;
}
.padding-block-900 {
    padding-block: $size-900;

    @include mq('md') {
        &-md {
            padding-block: $size-900;
        }
    }
}